p {
	color: #fc4e2a; }
a {
	color: #feb24c; }
footer{
        display: inline;
	text-align: center;
	font-family: Consolas;
	font-size: 14px;
	color: #fc4e2a;
	border-style: solid;
	border-width: 0.1em;
	border-color: #fc4e2a;
	background-color: #222; 
}
.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
        display: inline;
	text-align: center;
	font-family: Consolas;
	font-size: 14px;
	color: #fc4e2a;
	border-style: solid;
	border-width: 0.1em;
	border-color: #fc4e2a;
	background-color: #222; 
}
body {
	font-family: Consolas;
	font-size: 14px;
	color: #fc4e2a;
}
.header {
	position: absolute;
	right: 0;
	top: 0;
	left: 0;
        display: inline;
	text-align: center;
	font-size: 5em;
	color : #feb24c;
	padding-left : 0.2em;
	padding-right : 0.2em;
	text-shadow: 2px 2px 10px #777;
	background-color: #222; 
	border : 1px solid #fc4e2a;
}
h1 {
        display: inline;
	text-align: center;
	font-size: 5em;
	color : #feb24c;
	padding-left : 0.2em;
	padding-bottom : 0.1em;
	padding-right : 0.2em;
	text-shadow: 2px 2px 10px #777;
	background-color: #222; 
	border : 1px solid #fc4e2a;
}
h1 a {
	text-decoration: none;
	color: #feb24c; }
.center{
        display: block;
	text-align: center;
}
.centercontext{
	padding-bottom : 15px;
        display: block;
	text-align: center;
}
h2 {
	display: block;
	text-align: center;
	font-size: 3em;
	text-shadow: 2px 2px 3px #666;
	background-color: #222; 
	border : 1px solid #fc4e2a;
}
h2 a {
	text-decoration: none;
	color: #fc4e2a; 
}
ul.topmenu, ul.topmenu ul { 
	display: inline; 
	text-align: center; 
	margin: 0px; 
	padding: 0px; 
	text-shadow: 1px 1px 3px #666;
	background-color: #222; 
	font-size:2.5em; 
	border-left : 1px solid #fc4e2a;
	border-right : 1px solid #fc4e2a;
	border-bottom : 1px solid #fc4e2a;
}
ul.topmenu li { 
	margin-top : 0.3em;
	display: inline; 
	list-style: none; 
	position: relative; 
	margin: 0px; 
	padding : 0px 15px 0px 0px; }
ul.topmenu li ul { 
	display: block; 
	padding: 0.4em;
	position: absolute; 
	font-size:0.5em;
	visibility: hidden; 
	width: auto; 
	background-color: #222; 
	border : 1px solid 
	border-color : #fc4e2a; 
	border-top: 0; }
ul.topmenu a { 
	color : #fc4e2a;
	text-decoration:none;	}
//ul.topmenu:hover a{
//	color : #e31a1c; 
//}
ul.topmenu li ul li { 
	text-align:left; 
	margin: 0 0 0 0 
	padding: 0; 
	display: block; 
	margin : 0px 0px 5px 0px; 
	background-color: #222; 
}
ul.topmenu li ul li a {
	display: block; 
	margin: 0; 
	padding: 0 0 0 0;
	text-align: center;
	color : #feb24c; }
ul.topmenu li.submenu:hover ul { 
	left: 0; 
	visibility: visible; }
ul.topmenu li.submenu:hover ul li { 
	margin-bottom: 0px; }
ul.topmenu li.submenu:hover ul li:hover { 
	//background-color: #aaa; }
ul.topmenu li.submenu:hover ul li:hover a { 
	color: #e31a1c; }
/* Basic background image styling. */
.background-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Styles for the alternating / transition effect. */
.toggle-image {
 	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
 	height: 100%;
	transition: opacity 1s ease-in-out;
}

/* Styles for the specific images. */
.first-image {
	background-image: url('img1.jpg');	
	z-index: -3;
	opacity: 0;
}

.second-image {
	background-image: url('img2.jpg');
	z-index: -2;
	opacity: 0;
}

.third-image {
	background-image: url('img3.png');
	z-index: -1;
	opacity: 0;
}

.fourth-image {
	background-image: url('img4.jpg');
	z-index: -1;
	opacity: 0;
}


.fifth-image {
	background-image: url('img5.jpg');
	z-index: -1;
	opacity: 0;
}


.sixth-image {
	background-image: url('img6.jpg');
	z-index: -1;
	opacity: 0;
}


.seventh-image {
	background-image: url('img7.jpg');
	z-index: -1;
	opacity: 0;
}


.eigth-image {
	background-image: url('img8.jpg');
	z-index: -1;
	opacity: 0;
}

.first-image.show {
	opacity: 1;
}

.second-image.show {
	opacity: 1;
}

.third-image.show {
	opacity: 1;
}

.fourth-image.show {
	opacity: 1;
}


.fifth-image.show {
	opacity: 1;
}


.sixth-image.show {
	opacity: 1;
}


.seventh-image.show {
	opacity: 1;
	opacity: 0;
}


.eigth-image.show {
	opacity: 1;
}
